body {
    font-family: sans-serif;
}


td input[type="text"], td input[type="password"] {
    float: right;
}


input[type="checkbox"] + label {
    vertical-align: top;
}


.config_list_item_label[data-disabled] {
    text-decoration: line-through;
}


.config_list_buttons_wrapper {
    float: right;
}


#login_box_title, #connect_button_wrapper {
    text-align: center;
}


#config_list > widget-tab widget-text-button {
    visibility: hidden;
}


#config_list > widget-tab:hover widget-text-button {
    visibility: visible;
}


#main_view, #main_view > div {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}


.message {
    word-wrap: break-word;
}


#input_box {
    flex-grow: 1;
}